**/barn
ui/bower_components
node_modules
api/config/auth.*
api/config/*.password
api/config/index.js.sample
api/config/index.js.old
api/config/*.jwt
api/config/github.access_token
ui/config.js
nohup*.out
**/*.log
debug
coverage
docker/config
docker/db
